<!-- Topbar Start -->
<div class="container-fluid bg-light pt-3 d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center">
          <p><i class="fa fa-envelope mr-2"></i>ronaldocc13@gmail.com</p>
          <p class="text-body px-3">|</p>
          <p><i class="fa fa-phone-alt mr-2"></i>+591 65452649</p>
        </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <div class="d-inline-flex align-items-center">
          <a class="text-primary px-3" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="text-primary px-3" href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="text-primary pl-3" href="">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
  <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9">
    <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
      <a routerLink="/" class="navbar-brand">
        <h1 class="m-0 text-primary"><span class="text-dark">Ronaldo</span>CC13</h1>
      </a>

      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
        <div class="navbar-nav ml-auto py-0">
          <a routerLink="/" class="nav-item nav-link active">Inicio</a>
          <a routerLink="/experiencias" routerLinkActive="active" class="nav-item nav-link">
            Experiencia
          </a>

          <a routerLink="/servicio" routerLinkActive="active" class="nav-item nav-link">
            Servicios
          </a>

          <a routerLink="/contacto" routerLinkActive="active" class="nav-item nav-link">
            Contacto
          </a>

          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Empleos</a>
            <div class="dropdown-menu border-0 rounded-0 m-0">
              <a class="dropdown-item" [routerLink]="['/detalle', 'analista-de-sistemas']"
                >Analista de Sistemas</a
              >
              <a class="dropdown-item" [routerLink]="['/detalle', 'desarrollador-web']"
                >Desarrollador Web</a
              >
              <a class="dropdown-item" [routerLink]="['/detalle', 'master-web']">Master Web</a>
              <a class="dropdown-item" [routerLink]="['/detalle', 'enc-sistemas']">Enc. Sistemas</a>
              <a class="dropdown-item" [routerLink]="['/detalle', 'auxiliar-informatico']"
                >Auxiliar Informático</a
              >
            </div>
          </div>
          <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->
<router-outlet></router-outlet>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px">
  <div class="row pt-5">
    <!-- Brand -->
    <div class="col-lg-3 col-md-6 mb-5">
      <a routerLink="/" class="navbar-brand">
        <h1 class="text-primary"><span class="text-white">Ronaldo</span> CC13</h1>
      </a>

      <p>
        Soy <strong>Ronaldo Cahuasiri Colque</strong>, desarrollador web. Este sitio es parte de mi
        portafolio profesional.
      </p>
      <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px">Sígueme</h6>
      <div class="d-flex justify-content-start">
        <a
          class="btn btn-outline-primary btn-square mr-2"
          href="https://twitter.com/"
          target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="btn btn-outline-primary btn-square mr-2"
          href="https://facebook.com/"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="btn btn-outline-primary btn-square mr-2"
          href="https://linkedin.com/in/"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-primary btn-square" href="https://instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>

    <!-- Services -->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px">Mis Servicios</h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white-50 mb-2" routerLink="/experiencias">
          <i class="fa fa-angle-right mr-2"></i>Experiencia
        </a>

        <a class="text-white-50 mb-2" routerLink="/servicio">
          <i class="fa fa-angle-right mr-2"></i>Servicios
        </a>

        <a class="text-white-50 mb-2" routerLink="/servicio">
          <i class="fa fa-angle-right mr-2"></i>Blog
        </a>

        <a class="text-white-50" routerLink="/contacto">
          <i class="fa fa-angle-right mr-2"></i>Contacto
        </a>
      </div>
    </div>

    <!-- Useful Links -->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px">Links útiles</h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white-50 mb-2" routerLink="/empleo">
          <i class="fa fa-angle-right mr-2"></i>Sobre mí
        </a>

        <a class="text-white-50 mb-2" routerLink="/experiencias">
          <i class="fa fa-angle-right mr-2"></i>Experiencia
        </a>

        <a class="text-white-50 mb-2" routerLink="/servicio">
          <i class="fa fa-angle-right mr-2"></i>Servicios
        </a>

        <a class="text-white-50 mb-2" routerLink="/servicio">
          <i class="fa fa-angle-right mr-2"></i>Blog
        </a>

        <a class="text-white-50" routerLink="/contacto">
          <i class="fa fa-angle-right mr-2"></i>Contacto
        </a>
      </div>
    </div>

    <!-- Contact -->
    <div class="col-lg-3 col-md-6 mb-5">
      <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px">Contáctame</h5>
      <p><i class="fa fa-map-marker-alt mr-2"></i>Villazon, Bolivia</p>
      <p><i class="fa fa-phone-alt mr-2"></i>+591 65452649</p>
      <p><i class="fa fa-envelope mr-2"></i>ronaldocc13@gmail.com</p>
      <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px">Noticias</h6>
      <div class="w-100">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-light"
            style="padding: 25px"
            placeholder="Tu Email"
          />
          <div class="input-group-append">
            <button class="btn btn-primary px-3">Suscribirse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
  style="border-color: rgba(256, 256, 256, 0.1) !important"
>
  <div class="row">
    <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
      <p class="m-0 text-white-50">Copyright &copy; <a href="#">Domain</a>. All Rights Reserved.</p>
    </div>
    <div class="col-lg-6 text-center text-md-right">
      <p class="m-0 text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
  </div>
</div>
<!-- Footer End -->
